/* 滚动的可视区域 */
/* 该元素以 body 为基准，将滚动的可视区域填充除 header 之外的 body 部分 */
#home #scroller{
	width: 100%;
	/*height: 14.15625rem;*/
	position: absolute;
	top: 1.71875rem;
	/* bottom: 0;可以代替设置 height */
	bottom: 0;
	background-color: #efefef;
	overflow-x: hidden;
	overflow-y: auto;
}

#home #home_content{
	width: 100%;
}
/*==========================================================*/
/* 轮播图 */
#home .swiper-container{
	width: 100%;
	height: 3.746593rem;
}

#home .swiper-container img{
	width: 100%;
	height: 3.746593rem;
}

/* 分页器 */
#home .swiper-pagination{
	display: flex;
	justify-content: flex-end;
}

/* 分页器指示器（小点）的默认 HTML 标签是 span */
#home .swiper-pagination span{
	width: 0.224625rem;
	height: 0.224625rem;
	margin: 0.075rem;
	background-color: #ffd600;
	box-shadow: 0 1px 0 grey inset;
}

#home .swiper-pagination span:last-of-type{
	margin-right: 0.3125rem;
}
/*==========================================================*/
